/* RESET */
*{
    margin: 0;
    padding: 0;
}

/* BODY */
body{
    background: rgb(255,0,228);
    background: -moz-linear-gradient(135deg, rgba(255,0,228,1) 0%, rgba(119,255,45,1) 50%, rgba(9,105,237,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(255,0,228,1) 0%, rgba(119,255,45,1) 50%, rgba(9,105,237,1) 100%);
    background: linear-gradient(135deg, rgba(255,0,228,1) 0%, rgba(119,255,45,1) 50%, rgba(9,105,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff00e4",endColorstr="#0969ed",GradientType=1);
    background-repeat: no-repeat;
}

/* HEADER */
header{
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.navbar-brand img{
    width: 130px;
    height: 100px;
}
.navbar-toggler:focus {
    box-shadow: none !important;
}
.nav-link{
    color: yellow !important;
    font-size: 20px;
}
.nav-link:hover{
    color: black !important;
}
/* MAIN - INDEX */
#banner{
    height: 450;
    background-image: url(../imagenes/Banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.main__inicio iframe{
    margin: 10px;
}
.H1{
    font-size: 250px;
    font-style: oblique;
    text-align: center;
    color: transparent;
    font-weight: 600;
    letter-spacing: -0.015em;
    background-image: linear-gradient(360deg, #4c38e3, #d4f831);
    background-clip: text;
    -webkit-background-clip: text;
}
.H2{
    font-size: 110px;
    font-style: oblique;
    text-align: center;
    color: transparent;
    font-weight: 600;
    letter-spacing: -0.015em;
    background-image: linear-gradient(180deg, #d4f831, #4c38e3);
    background-clip: text;
    -webkit-background-clip: text;
}
.main__inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__inicio img{
    margin-top: 50px;
    width: 700px;
    height: 700px;
}

/* MAIN - PRODUCTOS */

/* MAIN - COLOR */
.muestra__color{
    color: #4c38e3;
    text-align: center;
    font-size: 70px;
    font-style: oblique;
    margin-top: 60px;
}
.muestra img{
    padding: 50px;
    height: 400px;
    width: 400px;
    border-radius: 100px;
    transition: 0.5s;
    object-fit: cover;
}
.muestra img:hover{
    scale: 1.2;
}
.muestra{
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* MAIN - PROCEDIMIENTO */
.procedimiento__titulo{
    color: #4c38e3;
    margin-top: 75px;
    text-align: center;
    font-size: 60px;
}
.procedimiento__pedido{
    text-align: center;
    margin-top: 100px;
    font-size: 35px;
    font-family: 'Kanit', sans-serif;
}

/* MAIN - CONTACTO */
.form__formulario{    
    width: 400px;
    padding: 30px;
    margin-top: 30px;
    margin-right: 350px;
}
.place{
   width: 78%;
   padding: 5px;
   border-radius: 5px;
   margin-bottom: 10px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.place1{
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.enviar{
    border-radius: 5px;
    background-color: yellow;
}
.contacto{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.redes{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 400px;
}
.pag{
    color: transparent;
    font-weight: 600;
    letter-spacing: -0.015em;
    background-image: linear-gradient(360deg, #4c38e3, #ff00e4);
    background-clip: text;
    -webkit-background-clip: text;
}
.link__redes{
    margin: 10px;
}
#navcustom{
    display: flex;
    justify-content: space-between;
    
}

/* FOOTER */ 
footer{
    background-color: white;
    display: flex;
    justify-content: space-between;
    opacity: 0.6; 
    height: 30px;
    font-size: 15; 
    font-weight: 600; 
}

/* MEDIA QUERY - CELULAR */
@media (max-width:576px){
    .navbar-brand img{
        width: 100px;
        height: 80px;
    }
    #banner{
        height: 10px;;
    }
    .header__logo img{
        width: 63px;
        height: 45px;
    }
    .buscador{
        width: 100px;
        height: 10px;
        padding: 10px;
        font-size: 10px;
        border: 1px solid yellow;
        border-radius: 25px;
    }
    .header__nav ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }
    .header__nav ul li{
        padding: 0px 20px;
    }
    a{
        text-decoration: none;
        color: yellow;
        font-size: 15px;
    }
    .header__icono img{
        width: 30px;
        height: 30px;
    }
    footer{
        height: 15px;
        font-size: 10px;
    }
    .producto{
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
        width: 150px;
        margin: 4%;
    }
    .producto img{
        width: 100%;
        border-radius: 10px;
    }
    .producto .titulo{
        font-size: 15px;
    }
    .producto .precio{
        font-size: 17px;
    }
    .muestra__color{
        font-size: 35px;
    }
    .muestra img{
        padding: 25px;
        height: 170px;
        width: 170px;
        border-radius: 50px;
    }
    .muestra img:hover{
        scale: 1.2;
    }
    .procedimiento__titulo{
        margin-top: 40px;
        font-size: 20px;
    }
    .procedimiento__pedido{
        margin-top: 50px;
        font-size: 15px;
    }
    .form__formulario{    
        width: 250px;
        margin-right: 70px;
    }
    .contacto{
        display: flex;
        flex-direction: column;
    }
    .redes iframe{
        width:350px;
        height:250px;
    }
    #banner{
        height: 100px;
    }
    .H1{
        font-size: 50px;
        font-weight: 600;
    }
    .H2{
        font-size: 25px;
        font-weight: 650;
    }
    .main__inicio img{
        margin-top: 20px;
        width: 300px;
        height: 300px;
    }  
    .main__inicio iframe{
        margin-top: 10px;
        width: 300px; 
        height: 157px;
    }
}      