/* MEDIA QUERY - CELULAR */
@media (max-width:576px){
    .navbar-brand img{
        width: 100px;
        height: 80px;
    }
    #banner{
        height: 10px;;
    }
    .header__logo img{
        width: 63px;
        height: 45px;
    }
    .buscador{
        width: 100px;
        height: 10px;
        padding: 10px;
        font-size: 10px;
        border: 1px solid yellow;
        border-radius: 25px;
    }
    .header__nav ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }
    .header__nav ul li{
        padding: 0px 20px;
    }
    a{
        text-decoration: none;
        color: yellow;
        font-size: 15px;
    }
    .header__icono img{
        width: 30px;
        height: 30px;
    }
    footer{
        height: 15px;
        font-size: 10px;
    }
    .producto{
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
        width: 150px;
        margin: 4%;
    }
    .producto img{
        width: 100%;
        border-radius: 10px;
    }
    .producto .titulo{
        font-size: 15px;
    }
    .producto .precio{
        font-size: 17px;
    }
    .muestra__color{
        font-size: 35px;
    }
    .muestra img{
        padding: 25px;
        height: 170px;
        width: 170px;
        border-radius: 50px;
    }
    .muestra img:hover{
        scale: 1.2;
    }
    .procedimiento__titulo{
        margin-top: 40px;
        font-size: 20px;
    }
    .procedimiento__pedido{
        margin-top: 50px;
        font-size: 15px;
    }
    .form__formulario{    
        width: 250px;
        margin-right: 70px;
    }
    .contacto{
        display: flex;
        flex-direction: column;
    }
    .redes iframe{
        width:350px;
        height:250px;
    }
    #banner{
        height: 100px;
    }
    .H1{
        font-size: 50px;
        font-weight: 600;
    }
    .H2{
        font-size: 25px;
        font-weight: 650;
    }
    .main__inicio img{
        margin-top: 20px;
        width: 300px;
        height: 300px;
    }  
    .main__inicio iframe{
        margin-top: 10px;
        width: 300px; 
        height: 157px;
    }
}      