.card{
    background-color: rgba(255,255,255,0.3);

}
.btn-primary{
    color: black;
    background-color: yellow;
    border-color: yellow;
    &:hover{
        color: white;
        background-color: silver;
        border-color: yellow;
    }
}
.card-body{
    font-weight: 600;
}